/target
/classes
/checkouts
.jar
.class
/.lein-*
/.nrepl-port

*/target
*/classes
*/checkouts
*.jar
*.class
*/.lein-*
*/.nrepl-port
pom.xml
pom.xml.asc

myrepo
eula.txt
banned-ips.json
banned-players.json
bukkit.yml
commands.yml
help.yml
logs/
ops.json
permissions.yml
plugins/
server.properties
spigot.yml
usercache.json
whitelist.json
world/
world_nether/
world_the_end/
localrepo1
spigot
